@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


a{
    color: #333;;
    text-decoration: none;
    transition: .3s;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body{
    background-color: #eee;
}

/* 2. Main Menu */
.header-area {
    background-color: #455a64;
    padding: 30px 0;
  }
  .logo img {
	max-width: 220px;
}
.mainmenu {
	text-align: right;
}
.mainmenu ul li {
	display: inline-block;
	position: relative
}
.mainmenu ul li a {
	color: #fff;
	display: block;
	padding: 25px 15px;
	font-size: 15px;
	transition: .3s;
	text-transform: uppercase;
	font-weight: 600;
}

.mainmenu ul li:hover>a {
	color: #c3d136 !important
}

.logo img {
    max-width: 220px;
  }
  .header-top {
    text-align: right;
    color: #fff;
  }
  .header-top a {
    margin-left: 3px;
    color: #fff;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 15px;
  }
  .header-top a span {
    color: #fff;
  }
  .header-top a i {
    margin-right: 5px;
    color: #c3d136;
  }
.mainmenu ul li ul.sub-menu::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background-color: #fff;
	left: 20px;
	top: -7px;
	transform: rotate(45deg);
}


.mainmenu ul li.active a {
	color: #c3d136
}
.mainmenu ul li ul.sub-menu {
	background-color: #fff;
	left: 0;
	min-width: 250px;
	position: absolute;
	text-align: left;
	top: 100%;
	transition: all 0.5s ease-out;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
	padding: 5px 15px;
}

.mainmenu ul li ul.sub-menu li {
	display: block;
	border-bottom: 1px solid #ddd;
	position: relative;
	z-index: 1;
}

.mainmenu ul li ul.sub-menu li:last-child {
	border-bottom: 0;
}

.mainmenu ul li ul.sub-menu li a {
	display: block;
	padding: 10px 15px;
	color: #333;
	transition: all 0.5s ease-out;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
}

.mainmenu ul li ul.sub-menu li a:hover {
	background-color: #c3d136 !important;
	color: #fff !important;
}

.mainmenu ul li:hover ul.sub-menu {
	transform: scaleY(1);
	visibility: visible;
	opacity: 1;
}

.mainmenu ul li.has-child>a::after {
	content: "\f107";
	margin-left: 4px;
	font-family: "FontAwesome";
}

.mainmenu ul li ul.sub-menu li {
	display: block;
	border-bottom: 1px solid #ddd;
	position: relative;
	z-index: 1;
}

.footer-area {
	background-color: #455a64;
    padding: 80px 0;
}

.single-footer h4 {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 22px;
    margin-bottom: 25px;
  }
  .single-footer ul li a {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
  }
  .single-footer ul li a:hover{
    color: #c3d136;
  }
  .single-footer ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .single-footer ul li i {
    margin-right: 5px;
  }
  .single-footer ul.footer-address li {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
  }
  .footer-social a {
    color: #fff;
    margin-right: 6px;
  }
  
.footer-copy {
    background-color: #3d5059;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-top: 12px;
  }
  .footer-copy a {
    color: #c3d136;
    font-weight: 500;
  }

  
.breacumb-area {
    padding: 80px 0;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
  }
  .breacumb-area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    opacity: .80;
    z-index: -1;
  }
  .breacumb-area h4 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
  }
  .breacumb-area ul {
    display: flex;
    justify-content: center;
  }
  .breacumb-area ul li {
    color: #c3d136;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    margin: 0 10px;
  }
  .breacumb-area ul li a {
    color: #fff;
  }
  .page-area {
	padding: 80px 0;
}
  .single-team {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	margin-bottom: 30px;
}
.lib-image {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	background-size: cover;
	background-position: top;
	border: 3px solid #ddd;
	padding: 3px;
}
.single-team h4 {
	font-size: 24px;
	margin-top: 10px;
	text-align: center;
	color: #c3d136;
}
.single-team h4 span {
	display: block;
	color: #333;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
	margin-top: 5px;
}
.single-team ul {
	border-top: 1px solid #f4f4f4;
	padding-top: 20px;
  margin-top: 20px;
  list-style: none;
}


.single-team ul li {
  font-size: 15px;
  margin-bottom: 7px;
  font-weight: 600;
}
.single-team ul li {
	position: relative;
	padding-left: 30px;
	transition: .3s;
}
.single-team ul li i {
	position: absolute;
	left: 0;
	top: 6px;
}
.box.bg-white.p-3.border {
	background-color: #fff !important;
	padding: 30px !important;
	border: 1px solid #ddd !important;
}
.title {
	font-weight: 600;
	font-size: 26px;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 15px;
	margin-bottom: 15px;
    text-transform: uppercase;
}
.box ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-top: -15px;
  }
  .box ul li {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .single-resource {
	background-color: #fff !important;
	padding: 20px;
	text-align: center;
	border: 1px solid #ddd !important;
	margin-top: 30px;
}
.single-resource img {
	max-width: 160px;
	margin-bottom: 15px;
}
.single-resource p {
	line-height: 24px;
	font-size: 16px;
	text-align: left;
}
.single-resource a {
	background-color: #c3d136;
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
}
.news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
}
.news a {
	display: block;
	width: 23%;
	margin-bottom: 25px;
}
.news a img {
	max-width: 80%;
	text-align: center;
}
.timing.bg-white.p-3.border, .social-netwrok {
	background-color: #fff !important;
	padding: 30px;
	border: 1px solid #ddd !important;
}
.tab-pane ul li, .social-netwrok ul li {
  font-size: 16px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.social-netwrok ul li a:hover{
  color: #c3d136;
}
.social-netwrok iframe {
	width: 100%;
	height: 270px;
}
.welcome-section {
	padding: 80px 0;
	position: relative;
	background-color: #fff;
}
.section-title {
	color: #282828;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
}
.welcome-section .welcome-wrap .welcome-text h2 {
  margin: 0 0 10px;
}
.welcome-section .welcome-wrap .welcome-text .lead {
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}
.welcome-section .welcome-wrap .welcome-text p {
  font-size: 16px;
  line-height: 1.87;
  margin: 20px 0 0;
}
.welcome-section iframe {
	width: 100%;
	border: 1px solid #ddd;
	padding: 3px;
	margin-top: 20px;
}

.features {
  background-color: #455a64;
  padding: 80px 0;
}
.single-feature {
  text-align: center;
  background-color: #c3d136;
  margin-bottom: 30px;
  height: 190px;
  padding: 30px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-feature i {
  font-size: 22px;
}
.single-feature h3 {
  text-transform: capitalize;
  font-weight: 600;
  margin: 12px 0;
  font-size: 26px;
}
.single-feature a {
  font-weight: 600;
  font-style: italic;
}
.single-feature a:hover {
  color: #333;
}

.book-img {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  padding: 3px;
  vertical-align: middle;
}
.book-area {
  padding: 80px 0;
}
.book-area .section-title {
  margin-bottom: 60px;
}
.single-book {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.book-info {
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 100%;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  transition: .3s;
}
.book-info:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .9;
  z-index: -1;
}
.book-info h4 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
}
.book-info:hover .book-info {
  bottom: 0;
}
.single-book:hover .book-info {
  bottom: 0;
}
.footer-copy p {
  font-weight: 400;
}
.footer-copy p a {
  font-weight: 600;
}

.news-page.home .news a {
  margin-bottom: 19px;
}
.bottom-area {
  background-color: #fff;
  padding: 80px 0;
}